.csdn-toolbar .gitChat img {
    display: inline-block;
    width: 20px;
    margin-top: -15px;
    margin-right: 2px;
}
.csdn-toolbar .userinfo {
    display: none !important;
}
body .csdn-toolbar{
    position: relative;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 70px;
    box-shadow: none;
    border-bottom: 1px solid #eee; 
}
.goOnRead{
    width: 200px;
    text-align: center;
    text-decoration: none;
    background:#FF700A;
    color:#ffffff !important;
    height: 40px;
    line-height:40px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
}
.goOnRead_m{
    flex: 1;
    -webkit-flex:1;
    text-align: center;
    text-decoration: none;
    background:#FF700A;
    color:#ffffff !important;
    height: 50px;
    line-height:50px;
    font-size: 14px;
    cursor: pointer;
    display: block;
}
.catalog_btns{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items:center;
    justify-content: space-around;
    -webkit-justify-content:space-around;
    padding: 20px 0;
    border-bottom: 1px solid #dfdfdf;
}
.catalog_vip_try_read{
    width:130px;
    color: #ffffff;
    font-size: 14px;
    background:#8693A7;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.catalog_vip_read{
    width:130px;
    color: #ffffff;
    font-size: 14px;
    background:#4A90E2;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.catalog_try_read{
    width:70px;
    color: #ffffff;
    font-size: 14px;
    background:#8693A7;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}
.catalog_to_vip{
    width:70px;
    color: #ffffff;
    font-size: 14px;
    background:#4A90E2;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    padding: 0 5px;
}
.catalog_to_vip_2{
    max-width: 170px;
    color: #ffffff;
    font-size: 14px;
    background:#4A90E2;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin:0 10px;
    flex: 1;
    -webkit-flex: 1;
}
.catalog_buy_now{
    max-width: 170px;
    text-align: center;
    text-decoration: none;
    background:#FF700A;
    color:#ffffff !important;
    line-height:40px;
    font-size: 15px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 4px;
    flex: 1;
    -webkit-flex: 1;
    overflow: hidden;
    white-space: nowrap;
}
.catalog_reads_btn{
    width:130px;
    color: #ffffff;
    font-size: 14px;
    background:#4A90E2;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
.catalog_reads_btn:hover{
    color: #ffffff;
}
.columnGoOnRead{
    width: 130px;
    text-align: center;
    text-decoration: none;
    background:#FF700A;
    color:#ffffff !important;
    height: 40px;
    line-height:40px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
}
#colorWhite{
    color: #ffffff;
}
.colorRed{
    color: #ff0000;
}
.btn_modal{
    background:#FF700A;
    border-color:#FF700A;
    color:#fff;
}
.catalog_vip_try_read:hover{
    color: #ffffff;
}
.catalog_vip_try_read:hover,.catalog_try_read:hover,.catalog_vip_read:hover,.catalog_to_vip:hover{
    color: #ffffff;
}
.color_black{
    color: #000;
}
/*�Ķ������½��������class*/
.catalog_class{

}
.catalog_class .catalog_num{
    color: #FF700A !important;
    border-color: #FF700A !important;
}
.catalog_class:before{
    background: #FF700A !important;
}
.catalog_class:after{
    background: #FF700A !important;
}
.bg_red:before{
    background:#FF700A !important;
}
.bg_white:after{
    background:#ffffff !important;
    display: none;
}
/* 目录按钮更新 */
.catalog_btns a:hover{
    color: inherit;
}
.catalog_btns .catalog_go_on_read:hover,
.catalog_btns .catalog_readers_btn:hover {
    color: #fff;
}
.catalog_try_btn_1{
    flex:1;
    -webkit-flex:1;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
    color: #333;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    margin: 0 10px 0 5px;
}
.catalog_vip_btn_1{
    flex:1;
    -webkit-flex:1;
    border-radius: 5px;
    background: #FF700A;
    font-size: 14px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    margin: 0 5px 0 10px;
}
.catalog_try_btn_2{
    width: 70px;
    max-width: 70px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
    color: #333;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    margin-right: 10px;
}
.catalog_vip_btn_2{
    width: 90px;
    max-width: 90px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
    color: #333;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    margin: 0 5px;
    overflow: hidden;
}
.catalog_buy_btn_2{
    width: 160px;
    max-width: 160px;
    border: 1px solid #FF700A;
    border-radius: 5px;
    background: #FF700A;
    font-size: 14px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
}
.catalog_go_on_read{
    flex: 1;
    -webkit-flex:1;
    border: 1px solid #FF700A;
    border-radius: 5px;
    background: #FF700A;
    font-size: 14px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    margin: 0 10px;
}
.catalog_readers_btn{
    flex: 1;
    -webkit-flex:1;
    background:#027AFF;
    border: 1px solid #027AFF;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    margin:0 10px;
}
.my_container{
    width:100%;
    max-width:1160px;
    margin:0 auto;
    overflow-x:auto;
    overflow-y:hidden;
}
.right_ad_img{
    display: block;
    margin-bottom: 20px;
}
.right_ad_img img{
    width: 100%;
}
@media screen and (min-width: 768px) {
    .my_container{
        min-width: 1160px;
    }
    .mainDiv {
        width: 100%;
        width: 800px;
        max-width: 800px;
        display: inline-block;
        float: left;
    }
}
@media screen and (max-width: 768px) {
    .my_container {
        overflow: hidden;
    }
    .mainDiv {
        width: 100%;
        max-width: 800px;
    }
    body .csdn-toolbar {
        overflow-x:auto;
        min-width:100%;
    }
}