#btnRight {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

#btnRight:hover {
    color: #fff;
    background-color: #286090 !important;
    border-color: #204d74;
}

#indexRight {
    float: left;
    width: 360px;
    margin-top: 89px;
    z-index: -1;
    height: 100%;
    padding-bottom: 100px;
    overflow: hidden;
}

.vip_right_tag {
    padding: 15px 20px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    margin-bottom: 20px;
}

.vip_become_btn {
    text-align: center;
    color: #B6863E;
    background-color: #FAF2E6;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
    width: 120px;
    margin: 20px auto 0;
}
#adRight {
    position: fixed;
    top: 80px;
    width: 360px;
    display: none;
    transition: all 0.2s;
}
.vip_hot_title{
    color: #4a4a4a;
    font-size: 16px;
    text-align:center;
    font-weight:500;
    height:50px;
    line-height:50px;
    background-color:#fff;
    border-bottom:1px solid #dfdfdf;
}
.right_hot_tags {
    margin: 0 auto;
    display: inline-block;
    background-color: #ffffff;
}

.right_hot_tags .right_tag_item {
    width: 25%;
    display: inline-block;
    float: left;
    color: #4a4a4a;
    background-color: #fff;
    font-size: 14px;
    overflow: hidden;
    text-align: center;
    padding: 20px 0;
}

.right_hot_tags .right_tag_select,
.right_hot_tags .right_tag_item:hover {
    box-shadow: 0 0 13px 0px rgba(196, 208, 231, 0.5);
    position: relative;
}

.right_hot_tags .right_tag_item>img {
    width: 26px;
}

.right_hot_tags .right_tag_item>span {
    display: block;
    margin-top: 8px;
}
.vip_list_item{
    flex: 1;
    -webkit-flex:1;
    font-size: 12px;
    text-align: center;
}
.vip_list_item_txt_1{
    color:#C59F64;
    width: 55px;
    padding-top:5px;
    margin: 0 auto;
    text-align:center;
    font-size:16px;
}
.vip_list_item_txt_2{
    color:#C59F64;
    width: 55px;
    padding-top:5px;
    margin: 0 auto;
    text-align:center;
    font-size:14px;
}
.right_what_chat{
    padding:0 20px;
    height:50px;
    line-height:50px;
    margin-top:20px;
    background:#fff;
    border-bottom:1px solid #e1e1e7;
}
.right_know_chat{
    float:right;
    font-size:14px;
    color:#9b9b9b
}
.right_follow{
    line-height:20px;
    margin:0 0 5px 22px;
    font-weight:500;
    padding-top:5px;
}
.right_box{
    display: flex;
    display: -webkit-flex;
    justify-content:space-between;
    -webkit-justify-content:space-between;
}
.right_create{
    width:96px;
    height:40px;
    display:inline-block;
    line-height: 40px;
    background:#FFDFC6;
    color:#FF700A;
    font-size:12px;
    text-align:center;
    margin:20px 0;
    border-radius: 3px;
}
.right_become{
    width:96px;
    height:40px;
    line-height: 40px;
    background:#fff;
    display:inline-block;
    color:#9b9b9b;
    font-size:12x;
    text-align:center;
    margin:20px 0;
    border: 1px solid #bbb;
    border-radius: 3px;
}
.right_become:focus{
    color: #9b9b9b;
}
.right_become:hover{
    color:#ff9100;
    border: 1px solid #ff9100;
}
.right_join{
    text-align:center;
    color:#9b9b9b;
    border-top:1px solid #e1e1e7;
    padding:15px 0 0;
    display:flex;
    display:-webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
.right_hot_tag_select{
    background-color:#fff;
    height: 40px;
    font-size: 16px;
    line-height:40px;
    text-align:center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#FF700A;
}
.right_hot_tag{
    background-color:#fff;
    height: 40px;
    font-size: 16px;
    line-height:40px;
    text-align:center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#b1b1b1;
}