a:link,a:visited,a:active{
    text-decoration: none;
    outline: none;
}
body{
    font-family:"Hiragino Sans GB",
    "Microsoft YaHei";
    letter-spacing: 0px;
}
.gn-menu li{
    padding-left: 15px;
}
.gn-menu-wrapper{
    top:65px;
}
.gn-menu-main{
    height: 64px;
}
.gn-menu-wrapper{
    overflow-x:hidden;
    overflow-y:auto;
}
.top_box{
    height:70px;
    position:fixed;
    top:-5px;
    left:0px;
    right:0px;
    padding-top: 20px;
    padding-bottom:10px;
    background-color: #ffffff;
    border-bottom: solid 1px #f0f0f0;
    z-index:3;
}
.top_box .top_logo{
    display: inline-block;
    float:left;
    margin-top: -12px;
    margin-left: 25px;
}
.top_box .top_logo img,.top_box .top_logo_m img{
    width: 60px;
    vertical-align: top;
}
.top_box .top_logo_m{
    display: inline-block;
    float:left;
    margin-top: -12px;
    margin-left: 50px;
}
.top_box .top_tabs{
    display: inline-block;
    float: left;
    margin-top: 37px;
    max-width: 800px;
}
.top_tabs .tab_select{
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 30px;
    height: 42px;
    margin-top: -30px;
    border-bottom: 2px solid #222;
    text-align: center;
    font-size: 16px;
}
.top_tabs .tab_select{
    color: #222 !important;
}
.top_tabs .tab_no_select{
    position: relative;
    display: inline-block;
    float: left;
    margin-left: 30px;
    height: 42px;
    margin-top: -30px;
    text-align: center;
    font-size: 16px;
    color: #9b9b9b;
    line-height: normal;
}
.top_tabs .home_tab {
    margin-left: 26px;
}
.top_tabs .tab_select:hover,
.top_tabs .tab_no_select:hover {
    color: #222;
}
.top_tabs .search_box{
    display: inline-block;
    float: left;
    width: 186px;
    height: 30px;
    margin-top: -35px;
    padding-top:1px;
    text-align: center;
    font-size: 16px;
    border:1px solid #d1d1d1;
    margin-left:77px;
    border-radius:8px;
    line-height: 30px;
}
.top_tabs #rightTopSearchInput{
    margin:2px 0 0 5px;
    width:140px;
    border: 0px;
    font-size: 16px;
    line-height: 25px;
    padding-left:5px;
    height: 18px;
    display: inline-block;
    float: left;
    outline: none;
    box-sizing: content-box;
    color: #4a4a4a;
}
.top_tabs .small_search {
    width:166px;
    margin-left: 50px;
}
.top_tabs .small_search #rightTopSearchInput{
    width:120px;
}
#rightTopSearchInput::-webkit-input-placeholder{
    color:#bab6b6;
}
#rightTopSearchInput::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#bab6b6;
}
#rightTopSearchInput:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#bab6b6;
}
#rightTopSearchInput:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#bab6b6;
}
.top_right{
    display: inline-block;
    float: right;
}
.top_search_img{
    width:25px;
    padding:3px;
    margin-top:-8px;
    cursor: pointer;
}
.top_publish,
.top_write,
.download_app {
    position: relative;
    display:inline-block;
    height:35px;
    color: #9B9B9B;
    float:right;
    font-size:16px;
    margin-right: 10px;
    line-height: 35px;
    cursor: pointer;
    padding-right:10px;
}
.top_publish:hover,
.top_write:hover,
.download_app:hover {
    color: #222;
}
.top_publish img,
.download_app img{
    width: 19px;
    margin-right: 10px;
    margin-top: -2px;
}
.download_app .down_new {
    position: absolute;
    top:-7px;
    right:-15px;
    width:25px;
    margin:0;
}
.top_write img{
    width: 20px;
    margin-right: 10px;
    margin-top: -2px;
}
.right_line{
    position: relative;
    height:20px;
    width:1px;
    background:#eaeef2;
    float:right;
    top:10px;
    left:-10px;
}
.down_line{
    position: relative;
    top:12px;
    height:2px;
    border-radius: 1px;
    background:#222;
    display: none;
}
#download_image{
    position: absolute;
    top:68px;
    left:0;
    width:100%;
    display: none;
}
#profileImg,#profileImg2{
    height:30px;
    width: 30px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #eeeeee;
}
#customerProfile,#customerProfile2{
    display:inline-block;
    float:right;
    height:40px;
    line-height: 40px;
    border: 0;
    -webkit-border-radius: 0;
    margin-right: 0;
    margin-top: -2px;
}
#customerProfile2 span{
    font-size: 16px;
    color: #999;
    display: inline-block;
    white-space: nowrap;
    max-width: 70px;
}
#loginBtn,#loginBtn2{
    display:inline-block;
    float:right;
    height:35px;
    line-height: 35px;
    color: #999;
    font-size:16px;
    margin-right: 10px;
}
@media screen and (max-width: 1169px){
    .search_box{
        display: none !important;
    }
}
@media screen and (min-width: 1170px){
    .search_box{
        display: inline-block !important;
    }
}
@media screen and (max-width: 480px){
    .gn-menu-main{
        position:absolute;
        top:5px;
    }
}
#thumbClickMenuDIV{
    position: relative;
    float: right;
    top: 8px;
    right: -54px;
    font-size: 14pt;
    width: 160px;
    display: none;
    z-index: 1;
}
#thumbClickMenuDIV>div{
    border:1px solid #f0f0f0
}
#thumbClickMenuDIV ul{
    width: 100%;
    padding: 5px 15px;
    line-height: 35px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: center;
    list-style: none;
    background-color: #fff;
}
#thumbClickMenuDIV ul>li{
    border-bottom: 1px dashed #cccccc;
}
#thumbClickMenuDIV ul>li:last-child{
    border-bottom: none;
}
#thumbClickMenuDIV ul>li a{
    color:#555555;
}
#thumbClickMenuDIV ul>li:last-child a{
    color:#ccc;
}
#gn-menu .gn-menu li a{
    font-weight:400;
}
.gn-menu .activity_type{
    width: 320px;
    padding-left: 60px;
    margin-top:-10px;
}
.gn-menu .activity_type a{
    border: 1px solid #f0f0f0;
    height: 30px;
    display: inline-block;
    float: left;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right:10px;
    font-size: 12px;
    line-height:30px;
    color: #000;
    margin-right: 10px;
    margin-top: 10px;
}